name: ci

on: push

jobs:
  npm:
    if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, '.')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@vestauth'
      # update npm to v9 (last 16.x supported version) for npm provenance to work
      - run: npm install -g npm@9
      - run: |
          curl -sfS https://dotenvx.sh/ops | sh
          echo "NODE_AUTH_TOKEN=$(dotenvx-ops get dotenvx://rot_71321cf34570a5db681b07d1e4078d93 --token '${{ secrets.DOTENVX_OPS_TOKEN }}')" >> $GITHUB_ENV
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ env.NODE_AUTH_TOKEN }}

